<template>
  <div id="product">
    <p class="title">Productos</p>
    <Breadcrumb />
    <div class="columns">
      <Card
        v-for="(p, i) in products"
        :key="i"
        :name="p.name"
        :photo="p.photo"
        :price="p.price"
        :attributes="p.attributes"
        :category="p.category"
        :stock="p.stock"
        class="column is-2 space-all"
      />
    </div>
    <b-modal
      v-model="isComponentModalViewActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
      aria-role="dialog"
      aria-modal
    >
      <template #default="props">
        <modal-view @close="props.close"></modal-view>
      </template>
    </b-modal>
  </div>
</template>

<script>
//Components
import Card from '@/components/Card'
import Breadcrumb from '@/components/Breadcrumb'
import ModalView from '@/components/ModalView'

//Services
import { listProducts } from '../services/product.srv'

export default {
  data() {
    return {
      products: [],
      isComponentModalViewActive: false,
    }
  },
  components: { Card, Breadcrumb, ModalView },
  methods: {
    openModalView() {
      this.isComponentModalViewActive = true
    },
    async list(categoryName = null) {
      try {
        let products = await listProducts()
        if (categoryName)
          products = products.filter((c) => c.category.name == categoryName)
        this.products = products
      } catch (error) {
        console.log(error)
        this.$buefy.toast.open({
          message: 'Error al consultar los productos',
          type: 'is-danger',
        })
      }
    },
  },
  created() {
    if (this.$route.params.categoryName)
      this.list(this.$route.params.categoryName)
    else this.list()
  },
}
</script>

<style scoped>
.space-all {
  margin: 20px;
}
</style>
