<template>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li
        v-for="(m, i) in menu"
        :key="i"
        :class="i == menu.length - 1 ? 'is-active' : ''"
      >
        <a @click="goTo(m.path)">{{ m.name }}</a>
      </li>

      <!-- <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li> -->
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      menu: [{ name: 'Menu', path: '/' }],
    }
  },
  methods: {
    goTo(path) {
      this.$router.push({ path })
      this.$router.go()
    },
    getRoute() {
      if (this.$route.name)
        this.menu.push({ name: this.$route.name, path: '/products' })
      if (this.$route.params.categoryName)
        this.menu.push({
          name: this.$route.params.categoryName,
          path: '/products/' + this.$route.params.categoryName,
        })
    },
  },
  created() {
    this.getRoute()
  },
}
</script>
