<template>
  <div class="card">
    <div class="card-image">
      <figure class="image is-1by1">
        <img :src="photo" alt="Photo" />
      </figure>
      <b-tag
        :type="stock > 0 ? 'is-info' : 'is-danger'"
        rounded
        style="position: absolute; top: 0"
        ><b>{{ stock > 0 ? 'Disponible' : 'Sin Stock' }}</b></b-tag
      >
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{ name }}</p>

          <p class="subtitle is-6">
            <b-tag type="is-primary space-tags"> #Dog </b-tag>
            <b-tag type="is-info space-tags"> #Cat </b-tag>
          </p>
          <p class="title is-3 center">$ {{ price }}</p>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">
        <b-numberinput
          size="is-small"
          controls-position="compact"
          type="is-info"
          v-model="cant"
          :disabled="this.stock == 0"
        ></b-numberinput
      ></a>
      <a href="#" class="card-footer-item">
        <b-icon
          pack="fas"
          icon="cart-plus"
          size="is-medium"
          :type="stock > 0 ? 'is-success' : 'is-danger'"
        >
        </b-icon>
      </a>
    </footer>
  </div>
</template>

<script>
export default {
  props: ['name', 'price', 'stock', 'attributes', 'id', 'photo'],
  data() {
    return {
      cant: this.stock > 0 ? 1 : 0,
    }
  },
}
</script>

<style scoped>
.card {
  width: 18%;
}
.space-tags {
  margin-right: 2px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
