<template>
  <div class="card columns">
    <div class="column">
      <div class="columns">
        <div class="column is-6">
          <img
            src="http://sva.talana.com:8000/media/vegandog.jpg"
            width="500"
            height="200"
          />
        </div>
        <div class="column is-6">
          <div class="box">
            <p class="title is-5">Hola</p>
          </div>
          <div class="box">
            <p class="title is-5">Hola</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="columns">
        <div class="box">
          <p class="title is-5">
            Holaaaaaaaa
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
