<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img
          src="https://www.comotumascotas.com/wp-content/uploads/2020/05/Logo-Sombra.png"
          width="200"
          height="40"
        />
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item cart center"
          ><b-icon
            pack="fas"
            size="is-medium"
            type="is-info"
            icon="shopping-cart"
          ></b-icon
        ></a>
      </div>
    </div>
  </nav>

  <!-- <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img
          src="https://www.comotumascotas.com/wp-content/uploads/2020/05/Logo-Sombra.png"
          alt="Logo"
        />
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item"><b-icon pack="fab" icon="twitter"></b-icon></a>
      </div>
    </div>
  </nav> -->
</template>

<style scoped>
.navbar {
  height: 100px;
}
.cart {
  margin-right: 50px;
  width: 100px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
