<template>
  <b-menu class="menu">
    <b-menu-list label="Menu">
      <b-menu-item icon="store" icon-pack="fas" :active="true">
        <template #label="props">
          Productos
          <b-icon
            class="is-pulled-right"
            :icon="props.expanded ? 'menu-down' : 'menu-up'"
          ></b-icon>
        </template>
        <b-menu-item
          @click="goTo(c.name)"
          :label="c.name"
          v-for="(c, i) in categories"
          :key="i"
        ></b-menu-item>
      </b-menu-item>
    </b-menu-list>
  </b-menu>
</template>

<script>
import { listProductCategories } from '../services/product.srv'

export default {
  data() {
    return {
      categories: [],
    }
  },
  methods: {
    goTo(name) {
      this.$router.push({ path: `/products/${name}` })
      this.$router.go()
    },
    async listCategories() {
      try {
        let categories = await listProductCategories()
        this.categories = categories
      } catch (error) {
        console.log(error)
        this.$buefy.toast.open({
          message: 'Error al consultar las categorias',
          type: 'is-danger',
        })
      }
    },
  },
  created() {
    this.listCategories()
  },
}
</script>

<style scoped>
.menu {
  margin: 15px;
  width: 80%;
}
</style>
