<template>
  <div id="app">
    <Nav />
    <div class="columns">
      <div class="column is-2">
        <Sidebar />
      </div>
      <div class="column">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '@/components/Nav'
import Sidebar from '@/components/Sidebar'

export default {
  data() {
    return {}
  },
  components: { Nav, Sidebar },
}
</script>

<style lang="scss"></style>
